<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Generator</title>
</head>
<body>
    <h1>API GENERATOR </h1>
    <p><a href="/users">CREATE A USER</a></p>
    <p><a href="/products">CREATE A PRODUCT</a></p>
</body>
</html>