<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <form action="/products" method="POST">
        <h1>CREATE A PRODUCT</h1>
        <!-- Nombre de producto -->
        <p>
            <label for="">Name: </label>
            <input type="text" name="name">
        </p>

        <!-- Precio -->
        </p>
            <label for="">Price: </label>
            <input type="text" name="price">
        </p>

        <!-- Stock -->
        <p>
            <label for="">Stock: </label>
            <input type="text" name="stock">
        </p>

        <!-- Code -->
        <p>
            <label for="">Code: </label>
            <input type="text" name="code">
        </p>

        <button type="submit">Upload</button>
    </form>
</body>
<footer>
    <p><a href="/">Home</a> | <a href="users">Users</p>
</footer>
</html>