<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <form action="/users" method="POST">
        <h1>CREATE A USER</h1>
        <!-- Nombre -->
        <p>
            <label for="">First name: </label>
            <input type="text" name="first_name">
        </p>

        <!-- Apellido -->
        </p>
            <label for="">Last name: </label>
            <input type="text" name="last_name">
        </p>

        <!-- Username -->
        </p>
            <label for="">Username: </label>
            <input type="text" name="username">
        </p>

        <!-- E-mail -->
        <p>
            <label for="">E-mail: </label>
            <input type="email" name="email">
        </p>

        <!-- Contraseña -->
        <p>
            <label for="">Password: </label>
            <input type="password" name="password">
        </p>

        <!-- Code -->
        <p>
            <label for="">Code: </label>
            <input type="text" name="code">
        </p>
        
        <button type="submit">Upload</button>
    </form>
</body>
<footer>
    <p><a href="/">Home</a> | <a href="products">Products</p>
</footer>
</html>